html,body{
  margin: 0;
}
body {
  
  font-family: 'Playfair Display', serif;
}

.container-fluid {
  background-image: url("img/deepsea.jpg");
  background-size: cover;
  background-position: center 55%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-box {
  min-width: 30%;
  min-height: 20%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  background-position: 58% 52%;
  border-radius: 16px;
  background-color: rgba(255, 255, 255,0.1);
  border: 1px solid rgba(255, 255, 255,0.4);
  border-right-color: rgba(255, 255, 255,0.4);
  border-bottom-color: rgba(255, 255, 255,0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 20px rgba(255, 151, 79, 0.5);

}

p {
  text-align: center;
  font-size: 40px;
  text-shadow: 1px 1px 3px rgb(83, 15, 160), 2px 2px 3px rgb(192, 36, 156);
  color: white;
}

/*------------ form ---------------------*/

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username,.password {
  margin-bottom: 20px;
  background-color: white;
}
input {
  border: none;
  border-bottom: 2px solid #333;
  padding: 5px;
  font-size: 24px;
  width: 100%;
}

button {
  width: 100%;
  padding: 10px 20px; 
  font-size: 24px;
  box-shadow: 0px 10px rgb(199, 153, 232);
  background-color: rgb(17, 1, 26);
  

  color: rgb(211, 211, 232);
}

button:active {
  position: relative;
  top: 6px;
  box-shadow: none;
  
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}



